@page "/health"
@using Microsoft.JSInterop

@inject IJSRuntime JS

<h3>Health</h3>

<MudButton Variant="Variant.Outlined" OnClick="(() => ThrowNewCSharpException())">Crash System (C#)</MudButton>
<MudButton Variant="Variant.Outlined" OnClick="(() => ThrowNewJavaScriptException())">Crash System (JS)</MudButton>

@code {
    void ThrowNewCSharpException()
    {
        throw new Exception("Crash C#");
    }

    async Task ThrowNewJavaScriptException()
    {
        //await JS.InvokeVoidAsync()
    }
}
