:root {
    --mud-palette-surface: var(--mud-palette-background) !important;
}

.custom-app-bar {
    --mud-appbar-height: 0px;
}

    .custom-app-bar .mud-tab-slider {
        height: 48px !important;
        z-index: -10;
        background-color: var(--mud-palette-background) !important;
    }

.tab-bar .mud-tab-slider {
    height: 2px !important;
    z-index: 0;
    background-color: var(--mud-palette-primary-text) !important;
}

.mud-tabs-toolbar {
    z-index: 40;
}

.mud-badge {
    z-index: 50;
}

.mud-grid-item > .custom-wrapper {
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mud-grid-item {
    padding: 0px !important;
}

.mud-svg-icon {
    cursor: pointer;
}
