<h3>AnimKitSegment_Tab</h3>

<MudGrid>
    <MudItem xs="3">

    </MudItem>
    <MudItem xs="3">

    </MudItem>
    <MudItem xs="3">

    </MudItem>
    <MudItem xs="3">

    </MudItem>
</MudGrid>


@code {
    [Parameter]
    public AnimKitDto Value { get; set; }

    [Parameter]
    public AnimKitDto? ValueLookup { get; set; }

    [Parameter]
    public int CurrentPageIndex { get; set; }
}
