<h3>AnimKitSegment_Tab</h3>

@inherits PageTabBase

<MudGrid>
    <MudItem xs="3">

    </MudItem>
    <MudItem xs="3">

    </MudItem>
    <MudItem xs="3">

    </MudItem>
    <MudItem xs="3">

    </MudItem>
</MudGrid>


@code {

}
