<MudStack Row="true" Spacing="0" Style="width: 100%">
    <div class="input-border-left" style="width:@(widthPercentage)%">
        @LeftContent
    </div>
    @if(MiddleContent != null)
    {
        <div class="input-border-middle" style="width:@(widthPercentage)%; display:flex">
            @MiddleContent
        </div>
    }
    <div class="input-border-right" style="width:@(widthPercentage)%">
        @RightContent
    </div>
</MudStack>


@code {
    [Parameter]
    public RenderFragment? LeftContent { get; set; }

    [Parameter]
    public RenderFragment? MiddleContent { get; set; }

    [Parameter]
    public RenderFragment? RightContent { get; set; }

    decimal widthPercentage = 33.4M;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (null == MiddleContent)
            widthPercentage = 50.0M;
    }
}




<style>
    .input-border-right .mud-input-outlined-border {
        border-radius: 0px var(--mud-default-borderradius) var(--mud-default-borderradius) 0px !important;
    }

    .input-border-left .mud-input-outlined-border {
        border-radius: var(--mud-default-borderradius) 0px 0px var(--mud-default-borderradius) !important;
    }

    .input-border-middle .mud-input-outlined-border {
        border-radius: 0px 0px 0px 0px !important;
    }
</style>