@for (int i = 0; i < Amount; i++)
{
    <div class="custom-wrapper">
        <MudBadge Origin="Origin.CenterLeft" Overlap="true" Icon="@Icons.Filled.ArrowForward" Color="@Color.Info" Style="width:100%;" Class="pt-4 invisible">
            <MudNumericField Value="-1" Variant="@Variant" HideSpinButtons="true" HelperText="PLACEHOLDER" />
        </MudBadge>
    </div>
}

@code
{
    [Parameter]
    public Variant Variant { get; set; } = Variant.Outlined;

    [Parameter]
    public int Amount { get; set; } = 1;
}
