<MudCarousel Style="height:640px" TData="object" ShowArrows="true" ShowBullets="false" AutoCycle="false" SelectedIndexChanged="NavigatePage">
    <NextButtonTemplate>
        <div class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon" style="font-size: 96px !important">
            <MudIcon Icon="@Icons.Material.Filled.NavigateNext" Color="Color.Primary" Class="@("custom-slide-navigator")" />
        </div>
    </NextButtonTemplate>
    <PreviousButtonTemplate>
        <div class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon" style="font-size: 96px !important">
            <MudIcon Icon="@Icons.Material.Filled.NavigateBefore" Color="Color.Primary" Class="@("custom-slide-navigator ")" />
        </div>
    </PreviousButtonTemplate>
    <ChildContent>
        @ChildContent
    </ChildContent>
</MudCarousel>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Transition Transition { get; set; }

    [Parameter]
    public EventCallback<Transition> TransitionChanged { get; set; }

    bool first = true;


    void NavigatePage(int newIndex)
    {
        if (first)
        {
            first = false;
        }
        else
        {
            Transition = Transition.Slide;
            TransitionChanged.InvokeAsync(Transition);
        }

    }
}